## Lab 1 - Basics
Names of Team Members: ________________________, _________________________

In [4]:
#1. import pandas 
import pandas as pd

In [5]:
# 2.Creat an array val with 5 integer values
val = [1,2,3,4,5]

### Series
https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [6]:
# 3. Create a Series object to hold the val array data 
# In Python, Series (1-D data type with default data type int64) index position starts from 0
ser=pd.Series(val)

In [7]:
# 4. creare a Series object to store the data about the number of hours you work every day in a week (dtype is int16). 
# The indexes are the names of the days (e.g., 'monday',...)   
# dtype = int16, int32, int64
days = ["Monday","Tuesday","Wedesday","Thursday","Friday","Saturday","Sunday"]
hoursWorked = pd.Series(dtype='int16', index=days)

In [8]:
# 5. creare a Series object to store the data about the number of hours you work every day in a week (dtype is int16). 
# The indexes are the names of the days (e.g., 'monday',...) 
# dtype = float16, float32, float64

#This is a repeat of question 4
hoursWorked = pd.Series(dtype='int16', index=days)

In [9]:
# 6. Create a Dictionary of Series Dataset with 2 columns to store the number of hours you and your friend worked and display it.
friendHours = [0,0,0,0,0,0,0]
hoursWorked = [0,0,0,0,0,0,0]
days = ["Monday","Tuesday","Wedesday","Thursday","Friday","Saturday","Sunday"]

#dictWorked =pd.DataFrame( index=days, columns = [hoursWorked, friendHours])
dictWorked =pd.DataFrame(index = days, columns = [hoursWorked, friendHours])

#dictWorked = {"Monday": (0,0), "Tuesday":(0,0),"Wednesday":(0,0),"Thursday":(0,0),"Friday":(0,0),"Satuday":(0,0), "Sunday":(0,0)}

**Data Frame**

In [10]:
# 7. Convert the data_ series into a DataFrame
#Already made it a dataframe for ease

In [11]:
#8. Load movies.csv file on Canvas int a data frame called movies_df
movies_df=pd.read_csv('movies.csv')

In [12]:
# 9. Display the data in movies_df data frame
movies_df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [13]:
# 10. Display only the first 10 rows
movies_df.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

In [14]:
# 11. Display the Last five rows
movies_df.tail(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Understanding Data

In [15]:
# 12. Display number of features and records
movies_df.shape

(77, 8)

In [16]:
# 13. Display the details of the features and their data types
movies_df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [17]:
# 14. Display the total number of missing values in each column
movies_df.isnull().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

In [18]:
# 15. Display the columns with the letter 'a' on their names
# hint: filter
filter_col = [col for col in movies_df if 'a'  in col]
filter_col

['Lead Studio', 'Profitability', 'Rotten Tomatoes %', 'Year']

In [19]:
# 16. Display the columns with the letter 'A' on their names
filter_col2 = [col for col in movies_df if 'A'  in col]
filter_col2

['Audience score %']

### Sorting & Unique

In [20]:
# 17. Display Profitaility column values in sorted order
# Default : Ascending order - Ascending
profitability = list(movies_df['Profitability'])
profitability.sort()
profitability

[0.0,
 0.0,
 0.0,
 0.005,
 0.25289490000000003,
 0.44864475,
 0.652603178,
 0.8258,
 1.09,
 1.211818182,
 1.245333333,
 1.3140625,
 1.34,
 1.365692308,
 1.3827997330000001,
 1.384166667,
 1.7152631580000002,
 1.719514286,
 1.747541667,
 1.7513513509999998,
 1.78394375,
 1.7974166669999998,
 1.817666667,
 1.9802064,
 1.9832,
 2.004444444,
 2.022925,
 2.0444,
 2.0709999999999997,
 2.129444167,
 2.14,
 2.2025714290000002,
 2.36768512,
 2.4405,
 2.530526316,
 2.536428571,
 2.598205128,
 2.639333333,
 2.642352941,
 2.64906835,
 2.8835,
 2.8835,
 2.8960190669999997,
 3.081421053,
 3.207850222,
 3.307180357,
 3.3527292999999996,
 3.49125,
 3.64741055,
 3.6827333330000003,
 3.7241923999999997,
 3.746781818,
 4.005737082,
 4.184038462,
 4.382857143,
 4.471875,
 4.5988,
 5.1031168330000005,
 5.3436218,
 5.387972222,
 5.387972222,
 5.4026315789999995,
 6.267647029,
 6.383363636,
 6.636401847999999,
 7.1536,
 7.221795791,
 7.8675,
 8.096,
 8.744705882,
 9.234453863999999,
 9.234453863999999,
 10.18002703,
 11.089741499999999,
 14.1964,
 22.91313646,
 66.934]

In [21]:
# 18. Display Profitaility column values in descending order
# Sorting in Descending order
profitability = list(movies_df['Profitability'])
profitability.sort(reverse=True)
profitability

[66.934,
 22.91313646,
 14.1964,
 11.089741499999999,
 10.18002703,
 9.234453863999999,
 9.234453863999999,
 8.744705882,
 8.096,
 7.8675,
 7.221795791,
 7.1536,
 6.636401847999999,
 6.383363636,
 6.267647029,
 5.4026315789999995,
 5.387972222,
 5.387972222,
 5.3436218,
 5.1031168330000005,
 4.5988,
 4.471875,
 4.382857143,
 4.184038462,
 4.005737082,
 3.746781818,
 3.7241923999999997,
 3.6827333330000003,
 3.64741055,
 3.49125,
 3.3527292999999996,
 3.307180357,
 3.207850222,
 3.081421053,
 2.8960190669999997,
 2.8835,
 2.8835,
 2.64906835,
 2.642352941,
 2.639333333,
 2.598205128,
 2.536428571,
 2.530526316,
 2.4405,
 2.36768512,
 2.2025714290000002,
 2.14,
 2.129444167,
 2.0709999999999997,
 2.0444,
 2.022925,
 2.004444444,
 1.9832,
 1.9802064,
 1.817666667,
 1.7974166669999998,
 1.78394375,
 1.7513513509999998,
 1.747541667,
 1.719514286,
 1.7152631580000002,
 1.384166667,
 1.3827997330000001,
 1.365692308,
 1.34,
 1.3140625,
 1.245333333,
 1.211818182,
 1.09,
 0.8258,
 0.652603178,
 0.44864475,
 0.25289490000000003,
 0.005,
 0.0,
 0.0,
 0.0]

In [22]:
# 19. Display movies_df in arranged in desending order of Audience score % 
movies_df.sort_values(by = 'Audience score %', ascending=False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
39,My Week with Marilyn,Drama,The Weinstein Company,84,0.825800,83,$8.26,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
48,Love Happens,Drama,Universal,40,2.004444,18,$36.08,2009
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010

In [23]:
# 20. Display the feature names in movies_df
for col in movies_df:
    print(col)

Film
Genre
Lead Studio
Audience score %
Profitability
Rotten Tomatoes %
Worldwide Gross
Year

In [24]:
# 21. Display the distinct values stored in Audience score % column
d_scores=set(movies_df['Audience score %'])
d_scores

{35,
 40,
 41,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 74,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 88,
 89}

In [25]:
#22. Remove duplicate values in Audience score % column

#How is this any different than the last??
d_scores=set(movies_df['Audience score %'])
d_scores

{35,
 40,
 41,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 71,
 72,
 74,
 76,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 88,
 89}

In [26]:
# 23. Drop the rows which are same/identical records
movies_df.drop_duplicates()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

### Drop A Row & Drop a Column

In [27]:
# 24. Drop the first 5 rows
# Dropping Rows - axis = 0; colums - axis = 1
# To save changes we write inplace = True, but for now, don't make the changes permanent
movies_df.drop([0,1,2,3,4])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [28]:
# 25. Drop the colums Film and Worldwide Gross
# Use axis = 1 (For column operation)
movies_df.drop(columns=['Film','Worldwide Gross'])

,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Year
0,Romance,The Weinstein Company,70,1.747542,64,2008
1,Comedy,The Weinstein Company,52,1.090000,68,2010
2,Comedy,Independent,35,1.211818,43,2010
3,Comedy,Disney,44,0.000000,15,2010
4,Comedy,Fox,72,6.267647,28,2008
...,...,...,...,...,...,...
72,romance,Independent,84,0.652603,54,2007
73,Drama,Universal,64,4.382857,89,2009
74,Drama,Independent,89,0.448645,79,2011
75,Comedy,Fox,71,5.343622,40,2008
76,comedy,Fox,81,8.096000,87,2009

### Filter Data Using AND & OR Operation

In [31]:
# 26. Display the movies of the year 2008
# Boolean Condition
indexes = movies_df[movies_df['Year']!=2008].index
movies_df.drop(indexes)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
47,Made of Honor,Comdy,Sony,61,2.649068,13,$105.96,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008

In [56]:
# 27. Display the movies released in 2008 and those of Genre 'Comedy' 
# Or Condition

#How can I use an OR logic to create an "AND" condition exactly?
#Gonna assume this question wants 2008 movies, then additionally comedy movies for the answer not 2008 comedies as implied
#Logic of this, get all the indexes of movies not from 2008 or not comedies, drop those leaving 2008 films and comedies
indexes = movies_df[(movies_df['Year']!=2008) & (movies_df['Genre']!='Comedy')].index
movies_df.drop(indexes)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008
32,Over Her Dead Body,Comedy,New Line,47,2.071000,15,$20.71,2008
33,Our Family Wedding,Comedy,Independent,49,0.000000,14,$21.37,2010
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
37,Nick and Norah's Infinite Playlist,Comedy,Sony,67,3.352729,73,$33.53,2008
42,Miss Pettigrew Lives for a Day,Comedy,Independent,70,0.252895,78,$15.17,2008
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
46,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008
47,Made of Honor,Comdy,Sony,61,2.649068,13,$105.96,2008
49,Love & Other Drugs,Comedy,Fox,55,1.817667,48,$54.53,2010
50,Life as We Know It,Comedy,Independent,62,2.530526,28,$96.16,2010
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
52,Letters to Juliet,Comedy,Summit,62,2.639333,40,$79.18,2010
53,Leap Year,Comedy,Universal,49,1.715263,21,$32.59,2010
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
56,Just Wright,Comedy,Fox,58,1.797417,45,$21.57,2010
58,It's Complicated,Comedy,Universal,63,2.642353,56,$224.60,2009
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,71,$20.10,2010
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,42,$178.84,2009
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,53,$42.05,2010
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,27,$102.22,2009
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,26,$161.83,2008
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008

In [59]:
# 28. Display the movies released in 2011 which are of Genre 'Comedy' 
# AND Condition
#Same logic, select all movies not from 2011 and not comedies, drop them
indexes = movies_df[(movies_df['Year']!=2011) | (movies_df['Genre']!='Comedy')].index
movies_df.drop(indexes)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011

**THE END**